{{>layout/header}}
<div class="container">
    <br/>
    <div class="row">
        <h1 class="col-3 text-start">HELLO SHOP</h1>
        <div class="col-3 offset-6 text-end">
            <a href="/" class="btn btn-primary text-center">Home</a>
        </div>
    </div>
    <hr>
</div>

<br/>
<div class="container">
    <form>
        <div class="form-group">
            <label for="name">상품명</label>
            <input type="text" class="form-control" id="name">
        </div>
        <br/>
        <div class="form-group">
            <label for="price">가격</label>
            <input type="number" class="form-control" id="price">
        </div>
        <br/>
        <div class="form-group">
            <label for="quantity">수량</label>
            <input type="number" class="form-control" id="quantity">
        </div>
        <br/>
        <button class="btn-lg" id="submit-save">Submit</button>
    </form>
</div>
{{>layout/footer}}
