{{>layout/header}}
<div class="container">

    <div class="jumbotron text-center">
        <h1>HELLO SHOP</h1>
    </div>
    <br/>
    <div class="container">
        <div class="row text-center">
            <h3>회원 기능</h3>
        </div>
        <div class="row">
            <div class="col-6 text-end">
                <button type="button" class="btn-lg btn-primary">회원 가입</button>
            </div>
            <div class="col-6 text-start">
                <button type="button" class="btn-lg btn-primary">회원 목록</button>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row text-center">
            <h3>상품 기능</h3>
        </div>
        <div class="row">
            <div class="col-6 text-end">
                <a class="btn btn-primary" href="/items/new" role="button">상품 등록</a>
            </div>
            <div class="col-6 text-start">
                <a class="btn btn-primary" href="/items" role="button">상품 목록</a>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row text-center">
            <h3>주문 기능</h3>
        </div>
        <div class="row">
            <div class="col-6 text-end">
                <button type="button" class="btn-lg btn-primary">상풍 주문</button>
            </div>
            <div class="col-6 text-start">
                <button type="button" class="btn-lg btn-primary">주문 내역</button>
            </div>
        </div>
    </div>

</div>
{{>layout/footer}}